@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 30 50% 87%;
    --primary-foreground: 0 0% 0%;
    --secondary: 26 47% 97%;
    --secondary-foreground: 17 25% 16%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 17 25% 16%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 30 50% 87%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: clamp(50px, 8vw, 50px);
}

h2 {
  font-size: clamp(30px, 5vw, 40px);
}
h3 {
  font-size: clamp(25px, 3vw, 30px);
}

h4 {
  font-size: clamp(16px, 2vw, 20px);
}

h5 {
  font-size: clamp(14px, 1.5vw, 16px);
}

p {
  font-size: clamp(14px, 1.5vw, 16px);
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.heroBorder {
  /* border-radius: 8px 13px 13px 97px;
  -webkit-border-radius: 8px 13px 13px 97px;
  -moz-border-radius: 8px 13px 13px 97px; */

  border-radius: 8px 13px 13px 178px;
  -webkit-border-radius: 8px 13px 13px 178px;
  -moz-border-radius: 8px 13px 13px 178px;
}

.img {
  opacity: 1;
  transition: opacity 0.5s;
}
.img--hidden {
  opacity: 0;
}
.dropdownBanner:after {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.55);
  transition: 0.3s;
}
.dropdownBanner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.44);
  z-index: 10;
  border-radius: 100%;
}

.dropdownBanner:hover:after {
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  z-index: 20;
}
